@use '../../../../scss/vars';

.textarea {
  resize: vertical;
  display: block;
  padding: 12px;
  width: 100%;
  background: #fff;
  border-radius: vars.$border-radius;
  border: 1px solid rgba(0, 0, 0, 0.16);
  height: 100px;

  &::placeholder {
    color: vars.$text-secondary-color;
  }
}
