.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.input {
  margin-right: 16px;
}

.delete {
  border: none;
  background: transparent;
}

.icon {
  & path {
    transition: fill 0.15s;
  }

  &:hover path {
    fill: #000;
  }
}
