@use '../../../../scss/vars';

.input {
  display: block;
  padding: 12px;
  width: 100px;
  background: #fff;
  border-radius: vars.$border-radius;
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: vars.$text-secondary-color;

  &:disabled {
    background: #f5f5f5;
  }
}
